<!DOCTYPE html> 
<html> 
	<head> 
    <title>FoodAtHub</title> 
        
    <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
    <!--link rel="stylesheet" href="style/fah.css" /-->
    <!--script type="text/javascript" src="js/jquery-1.7.1.min.js"></script-->
    <!--script type="text/javascript" src="js/fah.js"></script-->
    
            
    <script type="text/javascript" src="http://jquery-jsonp.googlecode.com/files/jquery.jsonp-1.0.4.min.js">
    //Do Not Remove this link. This link allows jquery to handle jsonp ajax calls.//
    </script>
            
    </head> 
            
    <body> 
        <h1>Is there Food<br />at the Hub?</h1>
    <center>
        <div id="isThereFood">
            <div id="state">
            </div>
            <br />
            <div id="message">
            </div>
        <br />
        </div>
        <div id="buttonsContainer">
        <table id="tableOfButtons" border="0px" cellspacing="0" cellpadding="25" width="100" align="center">
        </table>
            
        </div>
        <button id="itsAllGone" >Its All Gone!</button>
        <br /><br />
        <div id="legend">
        <l>Green means there's food =)<br /> Red means there's no food =(</l>
        </div>
    </center>        
    </body>
</html>
