body
{
	background-image: url('gradient_background.png');
	background-image: repeat;
}

h1
{
    margin-top: 0.5%;
    font: 3em Asap; color: black;
	text-shadow: 0 0 1px #5E5E5E;
    text-align: center;
}

#state
{
    font: 3em Asap;
	text-shadow: 0 0 1px #5E5E5E;
    text-align: center;
}

#message
{
    font: 1em Asap;
	text-shadow: 0 0 1px #5E5E5E;
    text-align: center;
}


#itsAllGone
{
	font: 15px Asap;
	/*border: 0px solid #c7c7c7;*/
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	padding: 10px 20px 10px 20px;
    background: rgb(250,198,149); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(250,198,149,1) 0%, rgba(245,171,102,1) 47%, rgba(239,141,49,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,198,149,1)), color-stop(47%,rgba(245,171,102,1)), color-stop(100%,rgba(239,141,49,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */


}

#thereIsFood
{
    font: 15px Asap;
	/*border: 1px solid #c7c7c7;*/
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	padding: 10px 20px 10px 20px;
    background: rgb(135,224,253); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(135,224,253,1) 8%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,rgba(135,224,253,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(135,224,253,1) 8%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(135,224,253,1) 8%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(135,224,253,1) 8%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(135,224,253,1) 8%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */

}


#legend
{
    font: 1.5em Asap; color: black;
    /*text-shadow: 1px 1px 1px darkgrey;
	text-shadow: 0 0 5px #5E5E5E;*/
	text-shadow: 0 0 1px #5E5E5E;
    text-align: center;
}

/*
.food
{
    font: 15px Asap;
	border: 0px solid #c7c7c7;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	padding: 10px 20px 10px 20px;
    /*background-color: rgb(250,51,0); /* Old browsers */
/*}*/

.foodNo {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e86642), color-stop(1, #b62318) );
	background:-moz-linear-gradient( center top, #e86642 5%, #b62318 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e86642', endColorstr='#b62318');
	background-color:#e86642;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:normal;
	padding:12px 36px;
	text-decoration:none;
}.foodNo:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b62318), color-stop(1, #e86642) );
	background:-moz-linear-gradient( center top, #b62318 5%, #e86642 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b62318', endColorstr='#e86642');
	background-color:#b62318;
}.foodNo:active {
	position:relative;
	top:1px;
}

.foodYes {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #84c54c), color-stop(1, #2a830c) );
	background:-moz-linear-gradient( center top, #84c54c 5%, #2a830c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#84c54c', endColorstr='#2a830c');
	background-color:#84c54c;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:normal;
	padding:12px 36px;
	text-decoration:none;
}.foodYes:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2a830c), color-stop(1, #84c54c) );
	background:-moz-linear-gradient( center top, #2a830c 5%, #84c54c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a830c', endColorstr='#84c54c');
	background-color:#2a830c;
}.foodYes:active {
	position:relative;
	top:1px;
}